.gb-nhadautu_phucloc{
  .gb-nhadautu_phucloc-title{
    margin-bottom: 30px;
    h2{
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 30px;
      text-align: left;
      text-transform: uppercase;
    }
    p{
      display: block;
      font-size: 14px;
      line-height: 21px;
      color: #7a7a7a;
      text-align: left;
    }
  }
}